
body{
	font-family: "Roboto",Helvetica,Arial,sans-serif;
	background-color: #E4E4E4;
}

.center{
	text-align: center;
}
.logo{
	padding-bottom: 10px;
	/* color: #828282; */
	font-size: 70px;
	font-weight: 300;
}
.header{
	border-bottom: 1px solid #DCD9D9;
	margin-bottom: 30px;
}

h3 {
    color: #0D629D;
    font-weight: 400;
}

.bggithub{
	    background-image: url(../assets/Octocat.png);
	    background-position: right -93px center;
	    background-repeat: no-repeat;
	    background-size: contain;
	    background-color: #5DB8F8;
}
.userbg{
	background-image: url(../assets/gitHub-Mark-Light-120px-plus.png);
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #D9EFFF;
}

a:hover{
	color: #289EF2;
}

.img {
    float: left;
    margin-right: 10px;
    border-radius: 100px;
    display: block;
    overflow: hidden;
    border: 1px solid #7CBAE6;
}

.tablewrapper {
    background-color: #FFFFFF;
    padding: 10px;
    display: block;
    border-radius: 5px;
    margin-bottom: 20px;
}