			<div class="row">
				<div class="col col-md-8 col-md-offset-2">
					<div class="jumbotron bggithub">
					  <div class="row">
					  	<div class="col col-md-12">
					  		<h3>
					  			Live search for GitHub 
					  		</h3>
					  		<p>
					  		</p>
					  	</div>
					  </div>
					  <div class="input-group" >
					        <input type="text" ng-model="username" class="form-control" placeholder="Enter GitHub user name ..."  ng-keydown="del($event)" >
					        <span class="input-group-btn">
					          <button class="btn btn-default" type="button">
					          	<i class="fa fa-search"></i>
					          </button>
					        </span>
					      </div><!-- /input-group -->
					</div>

				</div>
			</div>
			<div class="row" ng-if="users">
				<div class="col col-md-8 col-md-offset-2">
					<div class="tablewrapper">
					<table class="table">
					  <tr>
					  	<td>User name</td>
					  	<td>Followers</td>
					  </tr>
					  <tr ng-repeat="user in users">
					    <td>
					    	<a href="#/user/{{user.login}}">
					    	<div class="img">
					    		<img src="{{user.avatar_url}}" width="50" />
					    	</div>
					    	<h4>{{user.login}}</h4>
					    	</a>
					    </td>
					  	<td >
					  		<followers url="{{user.followers_url}}"></followers>
					  	</td>
					  </tr>
					</table>
					</div>
				</div>
			</div>