			<div class="row">
				<div class="col col-md-8 col-md-offset-2">
					<div class="jumbotron bggithub userbg">
					  <div class="row">
					  	<div class="col col-md-12">
					  		<h3>
					  			Repo browser for "{{userId}}" 
					  		</h3>
					  		<p>
					  		</p>
					  	</div>
					  </div>
					  <div class="input-group" >
					        <input type="text" ng-model="reponame" class="form-control" placeholder="Filter by Repo name ..."  ng-keydown="del($event)" >
					        <span class="input-group-btn">
					          <button class="btn btn-default" type="button">
					          	<i class="fa fa-search"></i>
					          </button>
					        </span>
					      </div><!-- /input-group -->
					</div>
					<div class="row">
						<div class="col col-md-12">
							<div ncy-breadcrumb></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" ng-if="repositories">
				<div class="col col-md-8 col-md-offset-2">
					<div class="tablewrapper">
					<table class="table">
					  <tr>
					  	<td>Repo Name</td>
					  	<td>Repo Description</td>
					  	<td>Last 3 commits</td>
					  </tr>
					  <tr ng-repeat="repo in repositories | repofilter:reponame">
					    <td>
					    	<a href="{{repo.html_url}}" target="_blank">
					    		<h4>{{repo.name}}</h4>
					    	</a>
					    </td>
					  	<td>
					  		<p>{{repo.description | limitTo:50 }}</p>
					  	</td>
					  	<td>
					  		<commits user="{{userId}}" repo="{{repo.name}}"></commits>
					  	</td>
					  </tr>
					</table>
					</div>
				</div>
			</div>